@model IEnumerable<Do_An_Tot_Nghiep.Models.XepHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 750px;">
    <h3 style="margin-left: 20px">Ranking</h3>
    <table class="table" style="color: white">
        <thead>
            <tr>
                <th>
                    ID Player
                </th>
                <th>
                    FullName
                </th>
                <th>
                    Rank
                </th>
                <th>
                    Score
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiDung.NguoiDungId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiDung.HoVaTen)
                </td>
                <td style="color: darkblue">
                    @Html.DisplayFor(modelItem => item.BacXepHang.BacHang)
                </td>
                <td style="color: darkblue">
                    @Html.DisplayFor(modelItem => item.DiemNangLuc)
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>
