@model Do_An_Tot_Nghiep.Models.ChuongNgaiVat

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>ChuongNgaiVat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ChuongNgaiVatId" />
            <div class="form-group">
                <label asp-for="SoKyTu" class="control-label"></label>
                <input asp-for="SoKyTu" class="form-control" />
                <span asp-validation-for="SoKyTu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DapAn" class="control-label"></label>
                <input asp-for="DapAn" class="form-control" />
                <span asp-validation-for="DapAn" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Anh" class="control-label"></label>
            <input asp-for="Anh" class="form-control" />
            <span asp-validation-for="Anh" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" type="file" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
