<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home | Crox E-Sports</title>
    <!-- /SEO Ultimate -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/js/bootstrap.min.js">
    <!-- Font Awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- StyleSheet link CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/special_classes.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/mediaqueries.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
</head>

<body>
    <div class="banner-section-outer">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="m-0">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><figure class="mb-0"><img src="/assets/images/crox_logo.png" alt=""></figure></a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="PhongCho" asp-action="Index" class="nav-link">Phòng đấu</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="XepHang" asp-action="Index" class="nav-link">Bảng xếp hạng</a>
                            </li>

                            @*<li class="nav-item mr-1 ml-0">
                                    <a class="nav-link login_btn" href="./login.html">Log in</a>
                                </li>
                                <li class="nav-item ml-0">
                                    <a class="nav-link signup_btn" href="./signup.html">Sign Up</a>
                                </li>*@
                        </ul>
                    </div>
                    *<partial name="_LoginPartial" />*
                </nav>
            </div>
        </header>
        
                @RenderBody()
            
        
    </div>
        @*<header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Do_An_Tot_Nghiep</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="PhongCho" asp-action="Index">Phòng Chờ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="CauHoi" asp-action="Index">Câu Hỏi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ChuongNgaiVat" asp-action="Index">Chướng Ngại Vật</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="BacXepHang" asp-action="Index">Bậc xếp hạng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="XepHang" asp-action="Index">Xếp hạng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TaiKhoanCaNHan">Quản lý tài khoản</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    *<partial name="_LoginPartial" />*
                </nav>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>*@

        @*<footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2023 - Do_An_Tot_Nghiep - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
