@model Do_An_Tot_Nghiep.Models.PhongCho

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PhongCho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhongChoId" />
            <div class="form-group">
                <label asp-for="NguoiDungId" class="control-label"></label>
                <select asp-for="NguoiDungId" class="form-control" asp-items="ViewBag.NguoiDungId"></select>
                <span asp-validation-for="NguoiDungId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongNguoi" class="control-label"></label>
                <input asp-for="SoLuongNguoi" class="form-control" />
                <span asp-validation-for="SoLuongNguoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianLap" class="control-label"></label>
                <input asp-for="ThoiGianLap" class="form-control" />
                <span asp-validation-for="ThoiGianLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
