@{

    //{
    //    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    //}
    Layout = "/Views/Shared/_Layout.cshtml";
}

        <div style="margin-left:190px; height: 600px">
            <p style="font-family: 'Montserrat', sans-serif; color: whitesmoke; font-weight: bold; font-size: 22px ">
                Chỉnh sửa thông tin tài khoản
            </p>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>

        @section Scripts {
            @RenderSection("Scripts", required: false)
        }
